@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__wrapper {
  font-family: "Oswald";
  position: relative;
}
.header__wrapper .header--pad-marg {
  padding: 11px 21px;
}
.header__wrapper .header_logo-fox {
  width: 33px;
  height: 38px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header__wrapper .header__text-middle {
    width: 101px;
    height: 18px;
    margin-left: calc(50% - 86px);
    margin-bottom: 4px;
  }
}
.header__wrapper .st0 {
  fill: #fdc305;
}
.header__wrapper .st1 {
  fill: #f06351;
}
.header__wrapper .menu__list {
  font-size: 35px;
  display: none;
}
.header__wrapper .menu__list .menu__link {
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e6e6e6;
  padding: 20px;
  color: #111111;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.header__wrapper .menu--btn-style {
  position: absolute;
  top: 15px;
  left: calc(100% - 55px);
  bottom: 0;
}
.header__wrapper .menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3px;
  width: 23px;
  background-color: black;
  position: relative;
  margin: 19px 9px 0;
}
.header__wrapper .menu__btn::before {
  content: "";
  display: block;
  height: 2px;
  width: 23px;
  left: 0;
  top: -7px;
  background-color: black;
  position: absolute;
}
.header__wrapper .menu__btn::after {
  content: "";
  display: block;
  height: 2px;
  width: 23px;
  left: 0;
  top: 8px;
  background-color: black;
  position: absolute;
}
.header__wrapper .menu__btn.button--active {
  background-color: transparent;
}
.header__wrapper .menu__btn.button--active::before {
  transform: rotate(45deg);
  top: 0;
}
.header__wrapper .menu__btn.button--active::after {
  transform: rotate(-45deg);
  top: 0;
}
.header__wrapper .nav--active {
  display: block;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2");
  src: url("../fonts/oswaldmedium.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff");
  src: url("../fonts/oswaldregular.woff2");
  font-weight: 500;
}
.products .products--maxwi {
  max-width: 290px;
  margin: auto;
}
.products .products__title {
  width: 280px;
  height: 77px;
  color: #111111;
  font-family: Oswald;
  font-size: 39px;
  font-weight: 500;
  line-height: 60px;
  margin: 19px 0;
}
.products .goods__body {
  display: flex;
}
.products .goods__body .content-box__propertyes {
  height: x;
}
.products .goods__img-product {
  width: 140px;
  height: 144px;
}
.products .content-box .content-box__title {
  width: 72px;
  height: 51px;
  color: #111111;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}
.products .content-box .category {
  display: flex;
  font-family: "Arial MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
.products .content-box .category .category__information {
  margin-right: 64px;
  min-width: 37px;
}
.products .products__button {
  display: block;
  width: 100%;
  background-color: #68b738;
  height: 40px;
  margin-bottom: 25px;
}
.products .products__button .btn__text {
  width: 61px;
  height: 15px;
  color: #ffffff;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.products .goods {
  border: 1px solid #ededed;
}
.products .plus-add-avg {
  width: 30px;
  height: 30px;
  opacity: 0.2;
}
.products .block-seeAll__content {
  display: flex;
  flex-direction: column;
}
.products .block-seeAll__content .plus-add-svg {
  width: 30px;
  margin: 27px auto;
  display: flex;
  opacity: 0.2;
}
.products .block-seeAll__content .block-seeAll__title {
  width: 217px;
  height: 17px;
  color: #111111;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto 11px;
  display: flex;
  text-transform: uppercase;
}
.products .block-seeAll__content .block-seeAll__text {
  width: 203px;
  height: 12px;
  color: #444444;
  font-family: "Arial MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 auto 22px;
}
.products .block-seeAll__content .block-seeAll__button {
  width: 280px;
  height: 40px;
  background-color: #f2f2f2;
  margin: 0 auto 50px;
}
.products .block-seeAll__content .block-seeAll__button .btn_text {
  width: 89px;
  height: 15px;
  color: #444444;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.products-other {
  border-top: 2px solid #68b738;
  position: relative;
}
.products-other .products-other--mrgn-top {
  margin-top: 40px;
}
.products-other .products-other__content {
  display: flex;
  flex-direction: column;
}
.products-other .products-other__product-title {
  margin-bottom: 15px;
  width: 133px;
  height: 19px;
  color: #222222;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-left: -140px;
  line-height: 16px;
  text-transform: uppercase;
}
.products-other .products-other__header-title {
  width: 283px;
  height: 25px;
  color: #111111;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 45px;
  position: absolute;
  left: calc(50% - 160px);
  top: -16px;
  padding-left: 26px;
  background-color: white;
}
.products-other .block-list {
  margin-bottom: 14px;
  color: #444444;
  font-family: "Arial MT";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  justify-content: center;
}
.products-other .block-list .block-list__information {
  width: 104px;
  height: 13px;
  margin-right: 140px;
}
.products-other .block-list .block-list__composition {
  width: 39px;
  height: 10px;
}
.products-other .products-other__button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
}
.products-other .products-other__button .products-other-button-text {
  width: 61px;
  height: 15px;
  color: #ffffff;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.products-other .products-other__block-product-title {
  display: flex;
  margin: auto;
}
.products-other .products-other__brdr {
  border-bottom: 2px solid #cdcdcd;
  margin-top: 17px;
  margin-bottom: 17px;
}

.products-other__btn-block {
  margin: auto;
}

.products-other__block-img {
  position: relative;
}
.products-other__block-img .products-other__img-product {
  display: flex;
  margin: 20px auto 0;
}
.products-other__block-img .products-other__svg {
  width: 55px;
  height: 60px;
  position: absolute;
  top: 62px;
  left: calc(50% - 28px);
}
.products-other__block-img .products-other__text {
  position: absolute;
  top: 140px;
  left: calc(50% - 87px);
  width: 171px;
  height: 56px;
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}