.footer__content {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: 35px;
    width: 100%;

    .footer__header-text {
        display: flex;
        align-content: space-between;
        margin: 25px auto;
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            margin: 39px auto;
        }

        .footer__title {
            width: 123px;
            height: 57px;
            color: #111111;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
            margin-right: 20px;
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
                margin-right: 406px;
            }
        }

        .footer__text {
            width: 134px;
            height: 53px;
            color: #444444;
            font-family: "Arial MT";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    .footer_img {
        width: 100%;
        height: 443px;
    }

    .footer__social-box {
    }

    .footer__cat-energy-svg {
        width: 128px;
        height: 24px;
        justify-content: center;
        margin: auto;
        display: flex;
        margin-top: 30px;
    }

    .footer__social-box {
        display: flex;
        margin: 60px calc(50% - 74px) 60px;
        fill: #666666;

        .footer__vk-svg {
            width: 24px;
            margin-right: 36px;
            height: 17px;
        }

        .footer__fb-svg {
            width: 22px;
            margin-right: 36px;
            height: 18px;
        }

        .footer__instagramm-svg {
            width: 17px;
            height: 17px;
        }
    }

    .footer__box-bottom {
        display: flex;
        align-content: space-between;

        .footer__text-bottom {
            width: 112px;
            height: 16px;
            color: #444444;
            font-family: "Arial MT";
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            @media only screen and (min-width: 320px) and (max-width: 767px)  {
            margin-left: calc(50% - 147px);
            margin-bottom: 37px;
            }
        }

        .footer__box-academ-svg {
            position: relative;
        }

        .footer__html-academy-svg {
            position: absolute;
            width: 29px;
            height: 31px;
            fill: #666666;
            @media only screen and (min-width: 320px) and (max-width: 767px)  {
                right: calc(50% - 178px);
                top: -7px;
            }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              top: 38px;
              left: 10px;
              width: 30px;
              height: 30px;
            }
        }
    }
}

.footer__block-content {
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        display: flex;

        .footer__cat-energy-svg {
            margin: 43px 54px;
        }

        .footer__social-box {
            margin: 46px calc(50% - 281px) 60px;
        }

        .footer__text-bottom {
            font-size: 18px;
            margin: 45px 0 0 0;
            width: 126px;
        }
    }
}
