.footer__content {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: 35px;

    .footer__header-text {
        display: flex;
        align-content: space-between;
        margin: 25px auto;

        .footer__title {
            width: 123px;
            height: 57px;
            color: #111111;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
            margin-right: 20px;
        }

        .footer__text {
            width: 134px;
            height: 53px;
            color: #444444;
            font-family: "Arial MT";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    .footer_img {
        width: 100%;
        height: 499px;
    }

    .footer__social-box {
    }

    .footer__cat-energy-svg {
        width: 128px;
        height: 24px;
        justify-content: center;
        margin: auto;
        display: flex;
        margin-top: 30px;
    }

    .footer__social-box {
        display: flex;
        margin: 60px auto;
        fill: #666666;

        .footer__vk-svg {
            width: 24px;
            margin-right: 36px;
            height: 17px;
        }

        .footer__fb-svg {
            width: 22px;
            margin-right: 36px;
            height: 18px;
        }

        .footer__instagramm-svg {
            width: 17px;
            height: 17px;
        }
    }

    .footer__box-bottom {
        display: flex;
        align-content: space-between;

        .footer__text-bottom {
            width: 112px;
            height: 16px;
            color: #444444;
            font-family: "Arial MT";
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            margin-left: calc(50% - 147px);
            margin-bottom: 37px;
        }

        .footer__box-academ-svg {
            position: relative;
        }

        .footer__html-academy-svg {
            position: absolute;
            width: 29px;
            height: 31px;
            fill: #666666;
            right: calc(50% - 180px);
            top: -7px;
        }
    }
}
