@import "nullstyle.scss";

.header__wrapper {
    font-family: "Oswald";
    position: relative;
    @media only screen and (min-width: 768px) {
        display: flex;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        display: flex;
        justify-content: space-between;
    }

    .header--pad-marg {
        padding: 11px 21px;
    }

    .header_logo-fox {
        width: 33px;
        height: 38px;

        @media only screen and (min-width: 768px) {
            display: none;
        }
    }

    .header__text-middle {
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            width: 101px;
            height: 18px;
            margin-left: calc(50% - 86px);
            margin-bottom: 4px;
        }

        @media only screen and (min-width: 768px) {
            display: none;
        }
    }

    .menu__list {
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            font-size: 35px;
            display: none;

            .menu__link {
                align-items: center;
                display: flex;
                justify-content: center;
                border-top: 1px solid #e6e6e6;
                padding: 20px;
                color: #111111;

                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            color: #222222;
            font-family: Oswald;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.86px;
            text-transform: uppercase;
            display: flex;

            margin-top: 36px;

            .menu__link {
                width: 62px;
                height: 15px;
                margin-right: 35px;
                color: black;

                &:hover {
                    border-bottom: 2px solid green;
                }
            }
        }
    }

    .menu--btn-style {
        position: absolute;
        top: 15px;
        left: calc(100% - 55px);
        bottom: 0;

        @media only screen and (min-width: 768px) {
            display: none;
        }
    }

    .menu__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3px;
        width: 23px;
        background-color: black;
        position: relative;
        margin: 19px 9px 0;

        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 23px;
            left: 0;
            top: -7px;
            background-color: black;
            position: absolute;
        }

        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 23px;
            left: 0;
            top: 8px;
            background-color: black;
            position: absolute;
        }

        &.button--active {
            background-color: transparent;
        }
        &.button--active::before {
            transform: rotate(45deg);
            top: 0;
        }
        &.button--active::after {
            transform: rotate(-45deg);
            top: 0;
        }
    }

    .nav--active {
        display: block;
        width: 100%;
    }

    .header__logo-tablet {
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }

        width: 173px;
        height: 58px;
        margin-top: 6px;
    }
}
