@import "nullstyle.scss";

@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldmedium.woff2");
    src: url("../fonts/oswaldmedium.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldregular.woff");
    src: url("../fonts/oswaldregular.woff2");
    font-weight: 500;
}

.products {
    .products--maxwi {
        max-width: 290px;
        margin: auto;
    }

    .products__title {
        width: 280px;
        height: 77px;
        color: #111111;
        font-family: Oswald;
        font-size: 39px;
        font-weight: 500;
        line-height: 60px;
        margin: 19px 0;
    }

    .goods__body {
        display: flex;

        .content-box__propertyes {
            height: x;
        }
    }

    .goods__img-product {
        width: 140px;
        height: 144px;
    }

    .content-box {
        .content-box__title {
            width: 72px;
            height: 51px;
            color: #111111;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
            margin-top: 20px;
        }

        .category {
            display: flex;
            font-family: "Arial MT";
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: #444444;

            .category__information {
                margin-right: 64px;
                min-width: 37px;
            }
        }
    }

    .products__button {
        display: block;
        width: 100%;
        background-color: #68b738;
        height: 40px;
        margin-bottom: 25px;

        .btn__text {
            width: 61px;
            height: 15px;
            color: #ffffff;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
        }
    }

    .goods {
        border: 1px solid #ededed;
    }

    .plus-add-avg {
        width: 30px;
        height: 30px;

        opacity: 0.2;
    }

    .block-seeAll__content {
        display: flex;
        flex-direction: column;

        .plus-add-svg {
            width: 30px;
            margin: 27px auto;
            display: flex;
            opacity: 0.2;
        }

        .block-seeAll__title {
            width: 217px;
            height: 17px;
            color: #111111;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 auto 11px;
            display: flex;
            text-transform: uppercase;
        }

        .block-seeAll__text {
            width: 203px;
            height: 12px;
            color: #444444;
            font-family: "Arial MT";
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            margin: 0 auto 22px;
        }

        .block-seeAll__button {
            width: 280px;
            height: 40px;
            background-color: #f2f2f2;
            margin: 0 auto 50px;

            .btn_text {
                width: 89px;
                height: 15px;
                color: #444444;
                font-family: Oswald;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
    }
}
