@import "nullstyle.scss";

@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldmedium.woff2");
    src: url("../fonts/oswaldmedium.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswaldregular.woff");
    src: url("../fonts/oswaldregular.woff2");
    font-weight: 500;
}

.products {
    .products--maxwi {
        max-width: 290px;
        margin: auto;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            max-width: 707px;
            width: 100%;
        }
    }

    .products__content {
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .products__title {
        width: 280px;
        height: 77px;
        color: #111111;
        font-family: Oswald;
        font-size: 39px;
        font-weight: 500;
        line-height: 60px;
        margin: 19px 0;
    }

    .goods__body {
        display: flex;
        overflow: visible;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            flex-direction: column;

            .goods__block-img {
                margin: auto;
            }
        }
    }

    .goods__img-product {
        width: 140px;
        height: 144px;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            position: relative;
            width: 298px;
            height: 190px;
            top: -75px;
        }
    }

    .img--small {
        top: -30px;
    }

    .content-box {
        .content-box__title {
            width: 72px;
            height: 51px;
            color: #111111;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
            margin-top: 20px;

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                margin: auto;
                width: 132px;
                color: #111111;
                font-family: Oswald;
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                line-height: 20px;
            }
        }

        .category {
            display: flex;
            font-family: "Arial MT";
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: #444444;

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                color: #444444;
                font-family: "Arial MT";
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
            }

            .category__information {
                margin-right: 64px;
                min-width: 37px;

                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    margin-right: 146px;
                    min-width: 65px;
                    font-size: 16px;
                    height: 25px;
                    margin-left: 30px;
                }
            }
        }
    }

    .products__button {
        display: block;
        width: 100%;
        background-color: #68b738;
        height: 40px;
        margin-bottom: 25px;

        .btn__text {
            width: 61px;
            height: 15px;
            color: #ffffff;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
        }
    }

    .goods {
        border: 1px solid #ededed;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            width: 324px;
            height: 431px;
            background-color: #f1f1f2;
            margin-bottom: 140px;
        }
    }

    .plus-add-avg {
        width: 30px;
        height: 30px;
        opacity: 0.2;
    }

    .block-seeAll__content {
        display: flex;
        flex-direction: column;

        .plus-add-svg {
            width: 30px;
            margin: 27px auto;
            display: flex;
            opacity: 0.2;
        }

        .block-seeAll__title {
            width: 217px;
            height: 17px;
            color: #111111;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 auto 11px;
            display: flex;
            text-transform: uppercase;
        }

        .block-seeAll__text {
            width: 203px;
            height: 12px;
            color: #444444;
            font-family: "Arial MT";
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            margin: 0 auto 22px;
        }

        .block-seeAll__button {
            width: 280px;
            height: 40px;
            background-color: #f2f2f2;
            margin: 0 auto 50px;

            .btn_text {
                width: 89px;
                height: 15px;
                color: #444444;
                font-family: Oswald;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
    }
}
