@import "nullstyle.scss";

.products-other {
    border-top: 2px solid #68b738;
    position: relative;

    .products-other--mrgn-top {
        margin-top: 40px;
    }

    .products-other__content {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            display: flex;
            flex-direction: row;
        }
    }

    .products-other__product-title {
        margin-bottom: 15px;
        width: 133px;
        height: 19px;
        color: #222222;
        font-family: Oswald;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        margin-left: -140px;
        line-height: 16px;
        text-transform: uppercase;
        
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 30px;
        }
    }

    .products-other__header-title {
        width: 283px;
        height: 25px;
        color: #111111;
        font-family: Oswald;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 45px;
        position: absolute;
        left: calc(50% - 160px);
        top: -16px;
        padding-left: 26px;
        background-color: white;

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            left: calc(50% - 362px);
        }
    }

    .block-list {
        margin-bottom: 14px;
        color: #444444;
        font-family: "Arial MT";
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        display: flex;
        justify-content: center;

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            margin: 40px 47px 28px;
        }

        .block-list__information {
            width: 104px;
            height: 13px;
            margin-right: 140px;
        }

        .block-list__composition {
            width: 39px;
            height: 10px;
        }
    }

    .products-other__button {
        width: 280px;
        margin: auto;
        display: block;
        height: 40px;
        background-color: #68b738;

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            width: 678px;
            height: 40px;
        }

        .products-other-button-text {
            width: 61px;
            height: 15px;
            color: #ffffff;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
        }
    }

    .products-other__block-product-title {
        display: flex;
        margin: auto;
    }

    .products-other__brdr {
        border-bottom: 2px solid #cdcdcd;
        margin-top: 17px;
        margin-bottom: 17px;
        max-width: 280px;
        display: flex;
        margin: 25px auto;

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            display: none;
        }
    }
}

.products-other__btn-block {
    margin: auto;
}

.products-other__block-img {
    position: relative;

    .products-other__img-product {
        display: flex;
        margin: 20px auto 0;
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            margin: 93px auto 0;
        }
    }

    .products-other__svg {
        width: 55px;
        height: 60px;
        position: absolute;
        top: 62px;
        left: calc(50% - 28px);

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            left: calc(50% - 275px);
        }
    }

    .products-other__text {
        position: absolute;
        top: 140px;
        left: calc(50% - 87px);
        width: 171px;
        height: 56px;
        color: #ffffff;
        font-family: "Arial MT";
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            top: 68px;
            left: calc(50% - -72px);
            width: 165px;
            font-size: 17px;
        }
    }
}
